.Home {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

.App-title {
    font-size: 2em;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#tagline {
    text-align: center;
}

